@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: #01C38D;
    --light-blue: #132D46;
    --dark-blue: #031C30;
    --gray: #696E79;
    --light-gray: #D9D9D9;
    --white: #FBFBFB;

    --background: var(--white);
    --foreground: var(--dark-blue);
    --primary: var(--green);
    --primary-foreground: var(--white);
    --secondary: var(--light-blue);
    --secondary-foreground: var(--white);

    --card: var(--white);
    --card-foreground: var(--dark-blue);

    --popover: var(--white);
    --popover-foreground: var(--dark-blue);

    --muted: var(--light-gray);
    --muted-foreground: var(--gray);

    --destructive: #ff4d4f;
    --destructive-foreground: var(--white);

    --border: var(--gray);
    --input: var(--light-gray);
    --ring: var(--green);

    --radius: 0.5rem;

    --font-sans: 'Archivo Narrow', sans-serif;
  }

  .dark {
    --background: var(--dark-blue);
    --foreground: var(--white);

    --card: var(--dark-blue);
    --card-foreground: var(--white);

    --popover: var(--dark-blue);
    --popover-foreground: var(--white);

    --primary: var(--green);
    --primary-foreground: var(--dark-blue);

    --secondary: var(--light-blue);
    --secondary-foreground: var(--dark-blue);

    --muted: var(--gray);
    --muted-foreground: var(--light-gray);

    --destructive: #ff4d4f;
    --destructive-foreground: var(--dark-blue);

    --border: var(--gray);
    --input: var(--gray);
    --ring: var(--green);
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
  }
  
  * {
    @apply border-[var(--border)];
  }

  .placeholder-custom::placeholder {
    font-size: 1rem;
    font-weight: 200;
    color: var(--dark-blue);
  }
}
